<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
  <h1> Movie Search! </h1>
	<form action="search">
		<input type="text" name="searchTerm">
		<input type="submit">
</body>
</html>